

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->

                <div class="row">


                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">


                            <div class="card-body mt-4">
                                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th class="col-1 text-center">Thứ tự</th>
                                            <th class="col-2 text-center">Ảnh</th>
                                            <th class="col-2 text-center">Tên món</th>
                                            <th class="col-2 text-center">Loại món</th>
                                            <th class="col-2 text-center">Giá (VNĐ)</th>                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr id="tr_@item.ProductID">
                                                <td class="text-center">@(i++)</td>
                                                <td class="text-center">
                                                    <img style="max-width: 50px;height: 50px;" src="@item.Image" />
                                                </td>
                                                <td class="text-center">@item.Name</td>
                                                <td class="text-center">@item.CateProduct?.Name</td>
                                                <td class="text-center">@item.Price</td>                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->



                </div>
            </div><!-- End Left side columns -->




    </section>

</main><!-- End #main -->
